@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /* Κλειδώνει το "σώμα" για να δουλέψει το εσωτερικό scroll του main */
  overflow: hidden; 
  background-color: #f8fafc;
  position: fixed; 
}

body {
  display: flex;
  flex-direction: column;
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

main {
  flex: 1;
  overflow-y: auto !important;
  -webkit-overflow-scrolling: touch !important; 
  padding-bottom: 100px; /* Χώρος για τη μπάρα του iPhone */
}

/* ΕΝΤΟΝΑ ΓΡΑΜΜΑΤΑ ΠΑΝΤΟΥ */
input, select, textarea, button {
  color: #000000 !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  border: 2px solid #000000 !important;
}